
    table{
      display: flex;
      flex-direction: column;
    }
    tr {
      display: flex;
    }    
    td , th{
      flex: 1; 
      padding: 10px;
      border: 1px solid #000000;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    