.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px; 
  margin: auto;
  float: left;
  padding: 10px;
}

.card-img-top {
  width: 100%;  
}

.card-body {
  padding: 16px; 
}

.card-text {
  margin-bottom: 12px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-title{
    text-align: center;
}