
h1 {
  font-size: 3rem;
  text-align: center;
  font-style: italic    ;
}
p {
  font-size: 1.5rem;
}
img{
    display: block;
    height: 400px;
    width: 400px;
    margin: auto;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  img{
    display: block; 
    height: 200px;
    width: 200px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  img{
    display: block; 
    height: 100px;
    width: 100px;
    margin: auto;
  }
}
