.container {
  display: grid;
  padding: 40px;
  grid-template-columns: 350px 300px;
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 1px;
  text-align: center;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px; 
  margin: 40px;
  float: left;
}
.card-img-top {
  width: 100%;  
}
.card-text {
  margin-bottom: 12px;
}
.card-title{
    text-align: center;
}