#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: antiquewhite;
}

#navbar a {
  float: left;
  display: block;
  padding: 10px;
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color:blue;
}
a:hover {
  color:rgb(9, 219, 9);
  background-color: rgb(198, 211, 207);
}
a:active {
  color:antiquewhite;
}
img{ 
  float: left;
  display: block;
  text-decoration: none;
  height: 50px;
  width: 50px;
  clip-path: circle(30%);
}